doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title About
        link(rel="stylesheet" href="css/style.css")
    body 
        include ./blocks/header.pug

        section.about 
            .container
                h1 About
                p.about__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><Br>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                .about__block 
                 p.about__title Skills
                 ul 
                    li 
                     a(href="#") HTML – Jade – Haml – Erb
                    li 
                     a(href="#") Responsive (Mobile First)
                    li 
                     a(href="#") CSS (Stylus, Sass, Less)
                    li 
                     a(href="#") Css Frameworks (Bootstrap, Foundation)
                    li 
                     a(href="#") Javascript (Design Patterns, Testes)
                    li 
                     a(href="#") NodeJS 
                    li 
                     a(href="#") Grunt – Gulp – Yeoman
                    li 
                     a(href="#") Git
                    li 
                     a(href="#") PHP
                    li 
                     a(href="#") Python
                    li 
                     a(href="#") MySQL – MongoDB
                    li 
                     a(href="#") Scrum and Kanban
                    li 
                     a(href="#") TDD e Continuous Integration
                    li 
                     a(href="#") AngularJS – ReactJS
                 p.about__title Projects
                 ul 
                  li 
                   a(href="#") Lorem Lorem  
                  li 
                   a(href="#") Ipsum Dolor
                  li 
                   a(href="#") Dolor Lorem 
                p.main__title WP-Indigo theme by VitaThemes      