doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        main.main 
            .container 
                .main__block 
                    img(src="./img/photos.png", alt="").main__img
                    h2  WP-Indigo
                    p.main__text Just another WordPress theme
                    a(href="#")
                        img(src="./img/twitter.png", alt="") 
                    a(href="#")
                        img(src="./img/facebook.png", alt="") 
                    a(href="#")
                        img(src="./img/google.png", alt="") 
                    a(href="#")
                        img(src="./img/in.png", alt="") 
                    p.main__title WP-Indigo theme by VitaThemes    